body {
    background-color: var(--ic-brand-font-color-dark);
    color: white;
}

.large.ic-Dashboard-header__layout {
    background-color: var(--ic-brand-font-color-dark);
}

.unpublished_courses_redesign .ic-DashboardCard__box__header { background-color: var(--ic-brand-font-color-dark); }

.btn, .Button, .ui-button {
    color: #f2f4f4;
    background-color: var(--ic-brand-font-color-dark);
    border-color: #384b5b;
}

.btn:hover, .btn--hover, .Button:hover, .ui-button:hover, .Button--hover, .ui-button.ui-state-hover {
    color: #f2f4f4;
    background-color: #475f71;
    border-color: #384b5b;
}

.ic-DashboardCard__header_content, .ic-DashboardCard {
    background-color: var(--ic-brand-font-color-dark);
}

.ic-DashboardCard__link * { color: white; }

.ic-DashboardCard span[style="color: rgb(50, 74, 77);"] {
    color: rgb(113, 183, 192) !important;
}

.ic-DashboardCard span[style="color: rgb(77, 61, 77);"] {
    color: rgb(167, 92, 167) !important;
}

.ic-DashboardCard span[style="color: rgb(37, 66, 132);"] {
    color: rgb(80, 163, 230) !important;
}

.ic-app-header {
    /* background-color: #252525; */
}

/* TO DO: find a better workaround */
.ic-DashboardCard__header-publish { filter: invert(100%); }

#minical {
    background: var(--ic-brand-font-color-dark);
    color: white;
}

#minical .fc-day-top, #calendar-app .fc-day-top {
    color: white;
}

#minical .fc-day-top.fc-today, #calendar-app .fc-day-top.fc-today {
    background-color: white !important;
    color: var(--ic-brand-font-color-dark);
}

#minical .fc-day-top:hover {
    background-color: rgba(240, 240, 240, 0.2) !important;
}

#minical .fc-center h2 {
    color: white;
}

.header-bar { background: transparent; }

#calendar-app .fc-body {
    background-color: var(--ic-brand-font-color-dark) !important;
}

#calendars-context-list .context_list_context { background-color: transparent; }
#calendar-list-holder { background-color: transparent; }

#calendar-app .fc-day-header {
    color: #c4c4c4;
}
